{% block sw_cms_block_ict_home_page_slider_preview %}
    <div class="kohlkramer-slider-edit">
        <sw-icon
            name="default-arrow-head-left"
            size="10"></sw-icon>
        <div class="sw-cms-preview-kohlkramer-home-page-slider-images">
            <img :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            </p>
        </div>

        <sw-icon
            name="default-arrow-head-right"
            size="10"></sw-icon>
    </div>
{% endblock %}
