{% block sw_cms_block_kohlkramer_theme_product_four_column %}
<div class="sw-cms-block-kohlkramer-theme-product-four-column">
    <slot name="left"></slot>
    <slot name="center"></slot>
    <slot name="right"></slot>
    <slot name="rights"></slot>
</div>
{% endblock %}
