{% block sw_cms_element_kohlkramer_home_page_slider %}
    <div class="sw-cms-el-kohlkramer-home-page-slider">
        <h2>{{ $tc('kohlkramer-home-slider.general.mainMenuItemGeneral') }}</h2>
    </div>
{% endblock %}

