{% block sw_cms_block_kohlkramer_theme_product_four_column_preview %}
<div class="sw-cms-preview-kohlkramer-theme-product-four-column">
    <sw-cms-product-box-preview />
    <sw-cms-product-box-preview />
    <sw-cms-product-box-preview />
    <sw-cms-product-box-preview />
</div>
{% endblock %}
