{% block sw_cms_block_kohlkramer_theme_image_text_bubble %}
<div class="sw-cms-block-kohlkramer-theme-image-text-bubble">
    <div class="sw-cms-block-kohlkramer-theme-image-text-bubble__center">
        <slot name="center-image"></slot>
        <slot name="center-text"></slot>
    </div>
</div>
{% endblock %}
