{% block sw_cms_element_kohlkramer_home_page_slider_preview %}
    <div class="sw-cms-el-preview-kohlkramer-home-page-slider">
        <h4>{{ $tc('kohlkramer-home-slider.general.mainMenuItemGeneral') }}</h4>
    </div>
{% endblock %}
