{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_actions %}
    <h2>{{ dump("hello") }}</h2>

    {{ parent() }}
{% endblock %}
