@include media-breakpoint-up(md) {
    .heroSlider-fixed {

        .col-md-8 {
            padding-right: 0;
        }

        .col-md-4 {
            padding-left: 0;
        }
    }
    .cms-block-kohlkramer-home-page-slider {
        h2 {
            padding: 0px 36px;
            margin: 0;
        }

        p {
            padding: 0 36px;
        }

        a {
            margin-left: 36px;
        }
    }
}
/* home slider */
.cms-block-kohlkramer-home-page-slider {
    position: relative;

    h2 {
        font-size: 20px;
        font-weight: 300 !important;
        letter-spacing: 0px;
    }

    p {
        font-size: 13px;
    }

    a {
        border: 1px solid $sw-text-color;
        text-decoration: underline;
        float: left;
        font-size: 16px;
       // font-size: $kohlkramer-shop-base-font-size;
        line-height: 32px;
        display: inline-block;
        padding: 2px 10px;
        margin-top: 20px;
    }

    .col-md-12 {
        padding: 0;
    }

    img {
        max-width: 100%;
        height: 380px;
        object-fit: cover;
    }

    .prev {
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 1;

        svg {
            height: 50px;
            width: 26px;
        }
    }

    .next {
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 1;

        svg {
            height: 50px;
            width: 26px;
        }
    }
}



.product-slider {
    &.has-nav {
        padding: 0;
    }

    .product-box {
        .card-body {
            padding: 0;
        }

        .tns-item {
            padding-right: 20px !important;
        }

        .product-image-wrapper {
            height: 320px !important;
            //background-color: $gray-back;
            background-color: gray;
        }

    }

    .product-description {
        margin-bottom: 20px;
    }

    .base-slider-controls-prev,
    .base-slider-controls-next {
        top: 50%;
        opacity: 1;
        color: #000000;
    }

    .product-slider-controls-prev {
        left: 10px;

        svg {
            height: 50px;
            width: 26px;
        }
    }

    .product-slider-controls-next {
        right: 10px;

        svg {
            height: 50px;
            width: 26px;
        }
    }
}

@include media-breakpoint-down(md) {

    /* image slider */
    .cms-block-image-slider {

        .image-slider-item {
            min-height: 200px !important;
        }
    }
    /* home slider */
    .cms-block-kohlkramer-home-page-slider {

        img {
            width: 100%;
            height: 385px;
            object-fit: cover;
        }

        .prev {
            left: 3%;
        }

        .next {
            right: 3%;
        }


    }
    .base-slider {

        .tns-ovh {
            overflow: hidden;
        }

        .image-slider-controls-next {
            right: 0;

            .icon-arrow-head-right {

                &:before {
                    height: 30px;
                    width: 30px;
                }
            }
        }

        .base-slider-controls-prev {
            left: 0;

            .icon-arrow-head-left {

                &:before {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }

    /*  cms-block-product-slider */
    .cms-block-product-slider {

        .base-slider-controls {
            display: none;
        }
    }
}
